body {
  margin: 0;
  width: 550px;
  background-color: #23252c;
  font-family: "Inter", sans-serif;
  border: 3px aquamarine solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
